body{
    background-image: url('images/bg-mobile.svg');
    background-size: cover;
    background-position: center;
    background-color: hsl(257, 40%, 49%);
    color: white;
}

.content{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mockups{
    height: 400px;
    margin-bottom: 30px;
}

.content h2{
    font-family: "Poppins";
    font-size: 53px;
    text-align: center;
    font-weight: 400;
    margin-bottom: -10px;
}

.content p{
    font-family: "Open Sans";
    font-size: 34px;
    text-align: center;
}

.button{
    text-align: center;
}
.btn{
    width: 350px;
    height: 60px;
    border: none;
    border-radius:  30px;
    font-size: 18px;
    color: hsl(257, 40%, 49%);
    margin-bottom: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    transition: 0.15s;
}

.btn:hover{
    cursor: pointer;
    background-color: hsl(257, 40%, 49%);
    color: white;
}

.attribution{
    text-align: center;
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.facebook, .instagram, .twitter{
    border: 1px solid white;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}


.fb, .twitter-btn, .ig{
    height: 30px;
    margin-left: 5px;
}

.facebook:hover, .instagram:hover, .twitter:hover{
    cursor: pointer;
}

@media(min-width: 900px){
    .content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 100px;
    }

    .mockups{
        height: 450px;
    }

    .info h2{
        font-size: 36px;
        font-weight: 800;
        text-align: left;
    }

    .info p{
        font-size: 20px;
        text-align: left;
        margin-bottom: 40px;
    }

    .button{
        text-align: center;
    }

    .btn{
        grid-column: 2 / 3;
        width: 200px;
        height: 50px;
    }

    .social-links{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-top: -50px;
        margin-left: 350px;
    }

}
